<div class="modal-body">
	<p>#ConfirmDelete</p>
</div>
<br/>
<div class="modal-footer">
	<button @onclick="@(() => BlazoredModal.CloseAsync())" class="btn btn-sm btn-primary me-3">#Ok</button>
	<button @onclick="@(() => BlazoredModal.CancelAsync())" class="btn btn-sm btn-secondary">Cancel</button>
</div>